API_SERVER_ENABLED=
API_SERVER_KEY=
BROWSERBASE_ADVANCED_STEALTH=
BROWSERBASE_PROXIES=
BROWSER_INACTIVITY_TIMEOUT=
BROWSER_SESSION_TIMEOUT=
DEEPSEEK_API_KEY=
ELEVENLABS_API_KEY=
GITHUB_PERSONAL_ACCESS_TOKEN=
HASS_URL=
HERMES_LEARNING=
HERMES_OPVAL=
IMAGE_TOOLS_DEBUG=
MOA_TOOLS_DEBUG=
OLLAMA_API_KEY=
OLLAMA_BASE_URL=
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENROUTER_API_KEY=
TELEGRAM_ALLOWED_USERS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_HOME_CHANNEL=
TERMINAL_ENV=
TERMINAL_LIFETIME_SECONDS=
TERMINAL_MODAL_IMAGE=
TERMINAL_TIMEOUT=
VISION_TOOLS_DEBUG=
WEB_TOOLS_DEBUG=
